#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.uploader-container {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.App-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #444;
}


.main-layout {
  display: flex;
  height: calc(100vh - 70px);
  padding: 20px;
  gap: 20px;
}

.side-panel {
  flex: 0 0 20%;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
}

.center-panel-uploader {
  flex: 1 1 auto;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-panel-graph {
  flex: 1 1 auto;
  border: 1px solid #444;
  border-radius: 8px;
}

.center-panel-graph canvas {
  width: 100%;
  height: 100%;
  display: block;
}


/* 드래그 앤 드롭 기능 개선을 위한 CSS */
.uploader-container {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  width: 80%;
  transition: background-color 0.2s ease-in-out;
}

.uploader-container.dragging {
  background-color: #333;
  border-color: #666;
}

.uploader-container button {
  margin-right: 10px;
}